.animal {
  flex: 1 1 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
  -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
}

.animal-image {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 25px;
  font-size: 1rem;
  font-weight: normal;
}

  .animal-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

.animal-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.animal-color {  
  font-weight: normal;
  font-size: 1rem;
  margin-bottom: 15px;
}