.button {
  cursor: pointer;
  width: fit-content;
  background: #525252;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  padding: 15px 25px;
  color: white;
  transition: all ease-in-out 200ms;
}

.button:hover {
  background: #323232;

}